[submodule "data"]
	path = data
	url = https://github.com/colobot/colobot-data.git
	branch = .
	update = rebase
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
	ignore = all
