# Ignore the CMake build files
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
/install_manifest.txt
/Testing
/CTestTestfile.cmake

# Ignore the generated documentation
/doc
/Doxyfile

# Ignore targets
/colobot

# Ignore local data
/colobot.ini
/savegame

# Standard build directory
/build

# Ignore KDevelop files
.kdev4
*.kdev4

# Ignore gedit temp files
*~
