# Ignore the CMake build files
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
/install_manifest.txt
/Testing
/CTestTestfile.cmake
/CPackConfig.cmake
/CPackSourceConfig.cmake
/src/libcolobotbase.a

# Ignore the generated documentation
/doc
/Doxyfile

# Ignore targets
/colobot
/src/CBot/libCBot.so

# Ignore local data
/colobot.ini
/saves

# Standard build directory
/build

# Ignore KDevelop files
.kdev4
*.kdev4

# Ignore gedit temp files
*~

# Ignore QtCreator temp files
CMakeLists.txt.user
CMakeLists.txt.user.*

# Ignore Visual Studio Code files
/.vscode

# Ignore Visual Studio files
/CMakeSettings.json
/.vs
