<?xml version="1.0" encoding="utf-8" ?>
<config>
  <headerpath>header.txt</headerpath>
  <filetypes>
    <extension comment="//">cpp</extension>
    <extension comment="//">c</extension>
    <extension comment="//">hpp</extension>
    <extension comment="//">h</extension>
  </filetypes>
  <exclude>
    <extension>generated.cs</extension>
  </exclude>
  <macros>
    <macro name="AUTHOR">Solvasoft</macro>
    <macro name="COPYRIGHT">Copyright (C) 2011 Solvasoft. All rights reserved.</macro>
    <macro name="EMAIL">info@solvasoft.nl</macro>
    <macro name="WEBSITE">http://www.solvasoft.com</macro>
  </macros>
</config>
